
body {
	width : auto;
	text-align : center;
}

#title{
	height: 50px;
	width: 100px;
	margin: 20px auto 20px auto;

}

h3{
	height: 70px;
	width: 70px;
	line-height: 70px;
	margin: 0 auto;
	border-radius: 10px;
	border-color: black;
	background-color: gray;
	font-size: 20px;
}

h4{
	height: ;
	width: auto;
}

#step{
	font-size: 20px;
}

#AC{
	text-decoration: underline;
}

#canvas_wrapper{
	border: solid 1px gray;
	width: auto;
	height: 185px;
	overflow: scroll;

}

#canvas{
	width: auto;
	height: 185px;
}